GetLaboratoryOrderOutcome-schemas/src/main/resources/schemas/clinicalprocess-healthcond-actoutcome/core_components/clinicalprocess_healthcond_actoutcome_4.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 (http://www.altova.com) by Torbjörn Dahlin (MedMod AB) -->
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Inera AB licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:riv:clinicalprocess:healthcond:actoutcome:4" xmlns:codes="urn:riv:clinicalprocess:healthcond:actoutcome:enums:4" targetNamespace="urn:riv:clinicalprocess:healthcond:actoutcome:4" elementFormDefault="qualified" attributeFormDefault="unqualified" version="4.0">
	<xs:import namespace="urn:riv:clinicalprocess:healthcond:actoutcome:enums:4" schemaLocation="clinicalprocess_healthcond_actoutcome_enum_4.0.xsd"/>
	<!--
         Below: common header used in service contracts for JoL (Journal- och Läkemedel).
         Version: JoL Header Fältregler_v1.2.docx
    -->
	<xs:complexType name="HeaderType">
		<xs:sequence>
			<xs:element name="accessControlHeader" type="tns:AccessControlHeaderType"/>
			<xs:element name="sourceSystemId" type="tns:IIType"/>
			<xs:element name="record" type="tns:RecordType"/>
			<xs:element name="author" type="tns:AuthorType" minOccurs="0"/>
			<xs:element name="signature" type="tns:AuthorType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccessControlHeaderType">
		<xs:sequence>
			<xs:element name="accountableCareGiver" type="tns:IIType"/>
			<xs:element name="accountableCareUnit" type="tns:IIType" minOccurs="0"/>
			<xs:element name="originalPatientId" type="tns:IIType" minOccurs="0"/>
			<xs:element name="careProcessId" type="tns:UUIDType" minOccurs="0"/>
			<xs:element name="lockTime" type="tns:TimeStampType" minOccurs="0"/>
			<xs:element name="blockComparisonTime" type="tns:TimeStampType"/>
			<xs:element name="approvedForPatient" type="xs:boolean"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecordType">
		<xs:sequence>
			<xs:element name="id" type="tns:IIType"/>
			<xs:element name="timestamp" type="tns:TimeStampType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuthorType">
		<xs:sequence>
			<xs:element name="id" type="tns:IIType" minOccurs="0"/>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="timestamp" type="tns:TimeStampType"/>
			<xs:element name="byRole" type="tns:CVType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<!--
         Below: types used exclusively by service contract GetLaboratoryOrderOutcome
     -->
	<xs:complexType name="SignatureType">
		<xs:sequence>
			<xs:element name="id" type="tns:IIType" minOccurs="0"/>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="timestamp" type="tns:TimeStampType"/>
			<xs:element name="byRole" type="tns:CVType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgUnitType">
		<xs:sequence>
			<xs:element name="id" type="tns:IIType" minOccurs="0"/>
			<xs:element name="name" type="xs:string"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	 
	<xs:complexType name="LaboratoryOrderOutcomeType">
		<xs:sequence>
			<xs:element name="header" type="tns:HeaderType"/>
			<xs:element name="body" type="tns:LaboratoryOrderOutcomeBodyType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LaboratoryOrderOutcomeBodyType">
		<xs:sequence>
			<xs:element name="identifier" type="tns:IIType"/>
			<xs:element name="laboratoryIdentifier" type="tns:IIType" minOccurs="0"/>
			<xs:element name="type" type="tns:CVType"/>
			<xs:element name="text" type="xs:string" minOccurs="0"/>
			<!-- besvarar remiss -->
			<xs:element name="referral" type="tns:ReferralType"/>
			<!-- avser patient -->
			<!-- består av analysgrupp / observation-->
			<xs:element name="groupOfAnalyses" type="tns:GroupOfAnalysesType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- har svarsmottagande -->
			<xs:element name="recipientUnit" type="tns:OrgUnitType"/>
			<xs:element name="recipientSignature" type="tns:SignatureType" minOccurs="0"/>
			<xs:element name="contactInformation" type="tns:ContactInformationType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActorType">
		<xs:sequence>
			<xs:element name="id" type="tns:IIType" minOccurs="0"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="byRole" type="tns:CVType" minOccurs="0"/>
			<xs:element name="orgUnit" type="tns:OrgUnitType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactInformationType">
		<xs:sequence>
			<xs:element name="text" type="xs:string"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroupOfAnalysesType">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="comment" type="xs:string" minOccurs="0"/>
			<xs:element name="code" type="tns:CVType" minOccurs="0"/>
			<!-- består av -->
			<xs:element name="analysis" type="tns:AnalysisType" maxOccurs="unbounded"/>
			<!-- for extending -->
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferralType">
		<xs:sequence>
			<xs:element name="identifier" type="tns:IIType"/>
			<xs:element name="timestamp" type="tns:TimeStampType"/>
			<xs:element name="version" type="xs:integer" minOccurs="0"/>
			<xs:element name="question" type="xs:string" minOccurs="0"/>
			<xs:element name="requestedCareService" type="tns:CVType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="requester" type="tns:ActorType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Follows FHIR naming convention -->
	<xs:complexType name="SpecimenType">
		<xs:sequence>
			<xs:element name="identifier" type="tns:IIType" minOccurs="0"/>
			<xs:element name="material" type="tns:CVType" minOccurs="0"/>
			<xs:element name="timestamp" type="tns:TimeStampType"/>
			<xs:element name="anatomicalLocation" type="tns:CVType" minOccurs="0"/>
			<xs:element name="comment" type="xs:string" minOccurs="0"/>
			<xs:element name="activity" type="tns:SpecimenRelatedActivityType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="container" type="tns:SpecimenContainerType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpecimenRelatedActivityType">
		<xs:sequence>
			<xs:element name="code" type="tns:CVType"/>
			<xs:element name="time" type="tns:TimePeriodType"/>
			<xs:element name="method" type="tns:CVType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpecimenContainerType">
		<xs:sequence>
			<xs:element name="identifier" type="tns:IIType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="type" type="tns:CVType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AnalysisType">
		<xs:sequence>
			<xs:element name="identifier" type="tns:IIType" minOccurs="0"/>
			<xs:element name="timestamp" type="tns:TimeStampType" minOccurs="0"/>
			<xs:element name="code" type="tns:CVType"/>
			<xs:element name="method" type="tns:CVType" minOccurs="0"/>
			<xs:element name="status" type="tns:CVType" minOccurs="0"/>
			<xs:element name="comment" type="xs:string" minOccurs="0"/>
			<xs:element name="accredited" type="xs:boolean" minOccurs="0"/>
			<xs:element name="specimen" type="tns:SpecimenType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="device" type="tns:DeviceType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="result" type="tns:LaboratoryAnalysisResultType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LaboratoryAnalysisResultType">
		<xs:sequence>
			<xs:element name="type" type="tns:CVType" minOccurs="0"/>
			<xs:element name="value" type="tns:AnyValueType"/>
			<xs:element name="comment" type="xs:string" minOccurs="0"/>
			<xs:element name="interpretation" type="tns:CVType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="tns:ReferenceType" minOccurs="0"/>
			<xs:element name="recipientSignature" type="tns:SignatureType" minOccurs="0"/>
			<xs:element name="performerSignature" type="tns:SignatureType" minOccurs="0"/>
			<xs:element name="related" type="tns:AnalysisType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferenceType">
		<xs:annotation>
			<xs:documentation>Only one of description or interval is allowed, see rule009 in constraints.xml
        </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="interval" type="tns:PQIntervalType" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="population" type="xs:string" minOccurs="0"/>
			<xs:element name="comment" type="xs:string" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeviceType">
		<xs:sequence>
			<xs:element name="identifier" type="tns:IIType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--
         Below: only helper types allowed.

         A helper type is a type used in one ore more of the domain schema common types.
         It can also be a type used in two or more service schemas.

         Version: Gemensamma_typer_v8
     -->
	<xs:complexType name="CVType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="xs:string" minOccurs="0"/>
			<xs:element name="codeSystem" type="xs:string" minOccurs="0"/>
			<xs:element name="codeSystemName" type="xs:string" minOccurs="0"/>
			<xs:element name="codeSystemVersion" type="xs:string" minOccurs="0"/>
			<xs:element name="displayName" type="xs:string" minOccurs="0"/>
			<xs:element name="originalText" type="xs:string" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IIType">
		<xs:sequence>
			<xs:element name="root" type="xs:string"/>
			<xs:element name="extension" type="xs:string"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TimeStampType">
		<xs:annotation>
			<xs:documentation>
                A quantity specifying a point on the axis of natural time.
                A point in time is most often represented as a calendar
                expression.

                The time has the format YYYYMMDDhhmmss
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])(0[0-9]|1[0-9]|2[0123])([0-5])([0-9])([0-5])([0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TimePeriodType">
		<xs:annotation>
			<xs:documentation>
                Används för att specificera ett datumintervall
                med hjälp av start- och slutdatum.

                start:
                Startdatum på formatet YYYYMMDDhhmmss
                end:
                Slutdatum på formatet YYYYMMDDhhmmss
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="start" type="tns:TimeStampType" minOccurs="0"/>
			<xs:element name="end" type="tns:TimeStampType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="UUIDType">
		<xs:annotation>
			<xs:documentation>
                Base type: restriction of xs:string Pattern:
                [A-Fa-f0-9]{32}|(\{|\()?[A-Fa-f0-9]{8}-([A-Fa-f0-9]{4}-){3}[A-Fa-f0-9]{12}(\}|\))?
                This type is used by other XML schema attributes or elements that
                will hold a universal unique identifier (UUID), commonly known as
                either a globally unique identifier (GUID) or UUID. The regular
                expression defined limits the contents of an attribute to either a
                single 32-digit hexadecimal string or a 32-digit hex string patterned
                as [8]-[4]-[4]-[4]-[12] digits.
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Fa-f0-9]{32}|(\{|\()?[A-Fa-f0-9]{8}-([A-Fa-f0-9]{4}-){3}[A-Fa-f0-9]{12}(\}|\))?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MultimediaType">
		<xs:sequence>
			<xs:element name="id" type="xs:string" minOccurs="0"/>
			<xs:element name="mediaType" type="codes:MediaTypeEnum"/>
			<xs:element name="value" type="xs:base64Binary" minOccurs="0"/>
			<xs:element name="reference" type="xs:anyURI" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatePeriodType">
		<xs:annotation>
			<xs:documentation>
                Används för att specificera ett datumintervall
                med
                hjälp av start- och slutdatum.

                start:
                Startdatum på formatet ÅÅÅÅMMDD
                end:
                Slutdatum på formatet ÅÅÅÅMMDD
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="start" type="tns:DateType" minOccurs="0"/>
			<xs:element name="end" type="tns:DateType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- YYYYMMDD -->
	<xs:simpleType name="DateType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AnyValueType">
		<xs:annotation>
			<xs:documentation>Only one of the elements are allowed, see rule002 in constraints.xml</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="cv" type="tns:CVType" minOccurs="0"/>
			<xs:element name="pq" type="tns:PQType" minOccurs="0"/>
			<xs:element name="intervalPQ" type="tns:PQIntervalType" minOccurs="0"/>
			<xs:element name="st" type="xs:string" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DecimalPrimitiveType">
		<xs:annotation>
			<xs:documentation>HL7 FHIR solution for precision sensitive numeric datatype</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="-?(0|[1-9][0-9]*)(\.[0-9]+)?([eE][+-]?[0-9]+)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PQType">
		<xs:sequence>
			<xs:element name="value" type="tns:DecimalPrimitiveType"/>
			<xs:element name="unit" type="xs:string"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PQIntervalType">
		<xs:sequence>
			<xs:element name="low" type="tns:DecimalPrimitiveType" minOccurs="0"/>
			<xs:element name="lowClosed" type="xs:boolean" minOccurs="0"/>
			<xs:element name="high" type="tns:DecimalPrimitiveType" minOccurs="0"/>
			<xs:element name="highClosed" type="xs:boolean" minOccurs="0"/>
			<xs:element name="unit" type="xs:string"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
